.container {
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    height: 30vh;
    width: 20vw;
    background-color: rgb(166, 198, 226);
}

@media (width <= 450px) {
    .container {
        width: 38vw;
        height: 20vh;
    }
}

@media (450px < width <= 800px) {
    .container {
        height: 25vh;
        width: 25vw;
    }
}
