.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.post {
    flex: 0 0 30.3333%;
}