.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6, 1fr);
}

.box {
    background-color: rgb(89, 65, 122);
    border-color: black;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
} 