@font-face {
    font-family: space-shard;
    src: url(../public/fonts/SpaceShards-RpExo.ttf);
}

@font-face {
    font-family: broly;
    src: url(../public/fonts/BrolyRegular-x3qgj.ttf);
}

@font-face {
    font-family: metal;
    src: url(../public/fonts/MetalVengeance-0WqV9.ttf);
}

@font-face {
    font-family: plumpelo;
    src: url(../public/fonts/PlumpeloV2Regular.ttf);
}

@font-face {
    font-family: shrik;
    src: url(../public/fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: dm;
    src: url(../public/fonts/DMSerifDisplay-Regular.ttf);
}



body {
    margin: 0;
    padding: 0;
    --pink-font: rgb(248, 152, 221);
    --blue-font: rgb(23, 23, 81);
    background-color: #cbdbe8;
    font-family: dm;
    overflow-x: hidden;
}

h1 {
    font-weight: lighter;
    font-family: plumpelo;
    font-size: clamp(3rem, 1.4074rem + 5.9259vw, 4rem);
}

