@font-face {
    font-family: space-shard;
    src: url(../public/fonts/SpaceShards-RpExo.ttf);
}

@font-face {
    font-family: broly;
    src: url(../public/fonts/BrolyRegular-x3qgj.ttf);
}

@font-face {
    font-family: metal;
    src: url(../public/fonts/MetalVengeance-0WqV9.ttf);
}

@font-face {
    font-family: plumpelo;
    src: url(../public/fonts/PlumpeloV2Regular.ttf);
}

@font-face {
    font-family: shrik;
    src: url(../public/fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: dm;
    src: url(../public/fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: inconso;
    src: url(../public/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}



body {
    margin: 0;
    padding: 0;
    --pink-font: rgb(248, 152, 221);
    --blue-font: rgb(23, 23, 81);
    background-color: #cbdbe8;
    font-family: dm;
    overflow-x: hidden;
}

h1 {
    font-weight: lighter;
    font-family: plumpelo;
    font-size: clamp(3rem, 1.4074rem + 5.9259vw, 4rem);
}

h2 {
    font-family: inconso;
    font-size: clamp(1.2rem, 1.0667rem + 0.5333vw, 1.5rem);
}

h3 {
    font-size: clamp(1.875rem, 1.4583rem + 1.6667vw, 2.8125rem);
}

p {
    /* 14 - 18 px */
    font-size: clamp(0.875rem, 0.7639rem + 0.4444vw, 1.125rem);
    font-family: inconso;
}

.squiggle {
    --mask:
      radial-gradient(67.58px at 50% calc(100% + 60px),#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) calc(50% - 60px) calc(50% - 15.5px + .5px)/120px 31px repeat-x,
      radial-gradient(67.58px at 50% -60px,#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) 50% calc(50% + 15.5px)/120px 31px repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    height: 6vh;
    background-color: #000;
  }

  /* line */
  /*
  .squiggle {
    --mask:
      radial-gradient(2.74px at 50% calc(100% + 2px),#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) calc(50% - 2px) calc(50% - 1px + .5px)/4px 2px repeat-x,
      radial-gradient(2.74px at 50% -2px,#0000 calc(99% - 1px),#000 calc(101% - 1px) 99%,#0000 101%) 50% calc(50% + 1px)/4px 2px repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    height: 6vh;
    background-color: #000;
  } */
