.blog, .about {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    margin-right: 10vh;
}

.menu {
    display: none;
}

@media (width <= 600px) {
    
    .links {
        display: none;
    }

    .menu {
        display: block;
        margin-right: 4vh;
        cursor: pointer;
    }

    
}
