.container {
    position: relative;
    top: 0;
    left: 0;
}

.transition {
    width: 30%;

}

.blureffectupward {
    position: absolute;
    top: -50px;
    left: 0;
    height: 24.45%;
    width: 100%;
    z-index: 5;
    background: linear-gradient(to bottom, transparent, #7ab0dca5, #99bdd5); /* Adjust colors and direction as needed */
    pointer-events: none; 
}

.background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}


.blureffect {
    position: absolute;
    left: 0;
    height: 24.45%;
    width: 100%;
    z-index: 5;
    background: linear-gradient(to bottom, #99bdd5, #7ab0dc96, transparent); /* Adjust colors and direction as needed */
    pointer-events: none; /* Ensures this element doesn't block interactions with underlying elements */
}