.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    background: url(../public/images/backgroundblue.png);
}

.software, .dev {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    color: #3e8abc;
    font-size: clamp(3rem, 0.296rem + 12.9148vw, 10rem);
    /* 26 vh */
}

.software, .dev {
    display: inline;
    font-family: plumpelo;
}

.dev {
    font-family: plumpelo;
}

/* .image {
    width: 90%;
} */

@media (width <= 600px) {

    .container {
        margin-top: 5vh;
        background: none;
    }

    .software, .dev {
        font-size: 6vh;
        color: black;
    }

    /* .software, .dev {
        font-size: 8vh;
        display: block;
    } */
}